---
import TitlePage from '@/components/TitlePage'
import BaseLayout from '@/layouts/BaseLayout'
---

<BaseLayout title='About'>
	<TitlePage title='About - ProDevOpsGuy' />
	<img src='https://imgur.com/IiJGkJq.png' alt='Image Alt Text' />
	<main class='prose dark:prose-invert'>
		<p>
			<strong>ProDevOpsGuy</strong> is a DevOps/Cloud channel which gives the best for following
			things:
		</p>
		<ul>
			<li><strong><em>Daily Trending DevOps Blogs</em></strong></li>
			<li><strong><em>All New Cloud Tips & Techniques</em></strong></li>
			<li><strong><em>Realtime Interview questions & preparation guides</em></strong></li>
			<li><strong><em>DevOps/Cloud Job Related Posts</em></strong></li>
			<li><strong><em>Cloud/DevOps Related Code & Scripts</em></strong></li>
		</ul>

		<h2>Admins Note</h2>
		<p>Feel free to show your support by sharing with your friends and social media.</p>
		<ul>
			<li>
				<strong>ProDevOpsGuy</strong> is maintained & owned by a working DevOps Guy <a
					href='https://github.com/NotHarshhaa'>H A R S H H A A</a
				>.
			</li>
		</ul>
	</main>
</BaseLayout>
